<div id="nav-content">
    <div id="nav-forum">
        <ul class="nav nav-pills">
            @foreach (YoupFo.Models.ForumModels key in (ViewBag.ListForum as IEnumerable<YoupFo.Models.ForumModels>))
            {
                <li class="blue2"><a data-id="@key.Id" href="#">@key.Title</a></li>
            }
        </ul>
    </div>

   
    @foreach (YoupFo.Models.ForumModels key in (ViewBag.ListForum as IEnumerable<YoupFo.Models.ForumModels>))
{
    <div data-id="@key.Id" class="nav-subforum" style="display: none;">
        <ul class="nav nav-pills">
            @foreach (YoupFo.Models.ForumModels subkey in (@key.SousForums as IEnumerable<YoupFo.Models.ForumModels>))
            {
                <li class="blue1"><a href="#">@subkey.Title</a></li>
            }
        </ul>
    </div>
}

</div>
