<!-- TODO : Intégrer le topic -->
<div id="content">
    <div>
        <h2>Sujet : @ViewBag.Thread.Data.Title</h2>
        <h3 class="most-recent">Les derniers messages</h3>
        <hr />
        
        <div id="conversation" style="overflow-y:auto; height:500px;">
            @*@foreach (YoupRepository.Model.MessagePOCO key in (ViewBag.Messages as IEnumerable<YoupRepository.Model.MessagePOCO>))
            {

                    <h3>@key.Data.Title</h3>
                    <p>Crée par @key.Data.UserId</p>
                    <p>@key.Data.CreatedAt</p>
                    <p>@key.Data.Content</p>
            }*@
            
        </div>
        <div style="clear:both;"></div>
        <div>
           @using (Html.BeginForm("Create", "Message", null, FormMethod.Post, new { id = "message-form" }))
            {
               <table>
                   <tr>
                       <td><label for="Title">Titre</label></td>
                       <td><input type="text" class="input-block-level" name="Title" placeholder="Titre" /></td>
                   </tr>
                   <tr>
                       <td><label for="Content">Message</label></td>
                       <td><textarea name="Content" placeholder="Contenu"></textarea></td>
                   </tr>
                    
               </table>
               <input type="hidden" name="Thread" value="@ViewBag.Thread.Data.Id" />
                <input type="hidden" name="User" value="1" />
                <button id="submit" type="submit" class="btn btn-success">
                    Publier le message
                </button>
                
                
                
            }
        </div>
    </div>
</div>
