@{
    ViewBag.Title = "Stats - Dashboard";
}

<div class="row">
    <div class="col-md-3">
        <div id="countUser" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countUserDelete" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countUserActive" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countUserFacebook" style="width:100%;height:200px;"></div>
    </div>
</div>
    
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var gCountUser = new JustGage({
                id: "countUser",
                value: '@ViewData["countUser"]',
                min: 0,
                max: '@ViewData["countUser"]',
                title: "Users",
                showMinMax: false,
                levelColors: ['rgba(151,187,205,1)'],
                gaugeColor: 'rgba(151,187,205,0.5)',
                titleFontColor: '#333333'
            });

            var gCountUserDelete = new JustGage({
                id: "countUserDelete",
                value: parseInt('@ViewData["countUserDelete"]'),
                min: 0,
                max: parseInt('@ViewData["countUser"]'),
                title: "Users deleted",
                showMinMax: false,
                levelColors: ['rgba(151,187,205,1)'],
                gaugeColor: 'rgba(151,187,205,0.5)',
                titleFontColor: '#333333'
            });

            var gCountUserActive = new JustGage({
                id: "countUserActive",
                value: parseInt('@ViewData["countUserActive"]'),
                min: 0,
                max: parseInt('@ViewData["countUser"]'),
                title: "Users active",
                showMinMax: false,
                levelColors: ['rgba(151,187,205,1)'],
                gaugeColor: 'rgba(151,187,205,0.5)',
                titleFontColor: '#333333'
            });

            var gCountUserFacebook = new JustGage({
                id: "countUserFacebook",
                value: parseInt('@ViewData["countUserFacebook"]'),
                min: 0,
                max: parseInt('@ViewData["countUser"]'),
                title: "Users use Facebook",
                showMinMax: false,
                levelColors: ['rgba(151,187,205,1)'],
                gaugeColor: 'rgba(151,187,205,0.5)',
                titleFontColor: '#333333'
            });
        });
    </script>
}