@{
    ViewBag.Title = "Stats - Dashboard";
}

<div class="row">
    <div class="col-md-3">
        <div id="countUser" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countUserDelete" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countUserActive" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countUserFacebook" style="width:100%;height:200px;"></div>
    </div>
</div>
    
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div id="countEvent" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countEventPending" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countEventClose" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countEventDelete" style="width:100%;height:200px;"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div id="countThread" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countPost" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">
        <div id="countTheme" style="width:100%;height:200px;"></div>
    </div>
    <div class="col-md-3">

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var gCountUser = new JustGage({
                id: "countUser",
                value: parseInt('@ViewData["countUser"]'),
                min: 0,
                max: parseInt('@ViewData["countUser"]'),
                title: "Users",
                showMinMax: false,
                levelColors: ['rgba(255,169,0,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });

            var gCountUserDelete = new JustGage({
                id: "countUserDelete",
                value: parseInt('@ViewData["countUserDelete"]'),
                min: 0,
                max: parseInt('@ViewData["countUser"]'),
                title: "Users deleted",
                showMinMax: false,
                levelColors: ['rgba(255,169,0,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });

            var gCountUserActive = new JustGage({
                id: "countUserActive",
                value: parseInt('@ViewData["countUserActive"]'),
                min: 0,
                max: parseInt('@ViewData["countUser"]'),
                title: "Users active",
                showMinMax: false,
                levelColors: ['rgba(255,169,0,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });

            var gCountUserFacebook = new JustGage({
                id: "countUserFacebook",
                value: parseInt('@ViewData["countUserFacebook"]'),
                min: 0,
                max: parseInt('@ViewData["countUser"]'),
                title: "Users use Facebook",
                showMinMax: false,
                levelColors: ['rgba(255,169,0,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });

            var gCountEvent = new JustGage({
                id: "countEvent",
                value: parseInt('@ViewData["countEvent"]'),
                min: 0,
                max: parseInt('@ViewData["countEvent"]'),
                title: "Events",
                showMinMax: false,
                levelColors: ['rgba(0,137,250,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });

            var gCountEventClose = new JustGage({
                id: "countEventPending",
                value: parseInt('@ViewData["countEventPending"]'),
                min: 0,
                max: parseInt('@ViewData["countEvent"]'),
                title: "Events pending",
                showMinMax: false,
                levelColors: ['rgba(0,137,250,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });

            var gCountEventClose = new JustGage({
                id: "countEventClose",
                value: parseInt('@ViewData["countEventClose"]'),
                min: 0,
                max: parseInt('@ViewData["countEvent"]'),
                title: "Events close",
                showMinMax: false,
                levelColors: ['rgba(0,137,250,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });

            var gCountEventDelete = new JustGage({
                id: "countEventDelete",
                value: parseInt('@ViewData["countEventDelete"]'),
                min: 0,
                max: parseInt('@ViewData["countEvent"]'),
                title: "Events deleted",
                showMinMax: false,
                levelColors: ['rgba(0,137,250,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });

            var gCountThread = new JustGage({
                id: "countThread",
                value: parseInt('@ViewData["countThread"]'),
                min: 0,
                max: parseInt('@ViewData["countThread"]'),
                title: "Threads",
                showMinMax: false,
                levelColors: ['rgba(255,0,49,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });

            var gCountPost = new JustGage({
                id: "countPost",
                value: parseInt('@ViewData["countPost"]'),
                min: 0,
                max: parseInt('@ViewData["countPost"]'),
                title: "Posts",
                showMinMax: false,
                levelColors: ['rgba(255,0,49,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });

            var gCountTheme = new JustGage({
                id: "countTheme",
                value: parseInt('@ViewData["countTheme"]'),
                min: 0,
                max: parseInt('@ViewData["countTheme"]'),
                title: "Themes",
                showMinMax: false,
                levelColors: ['rgba(255,0,49,1)'],
                gaugeColor: 'rgba(220,220,220,0.5)',
                titleFontColor: '#444'
            });
        });
    </script>
}