<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
</head>
<body>

    <div class="container">
        <header>
            <div class="row fluid">
                <div class="col-md-2">
                    <button class="menuBtn btn-info btn-large col-md-12" value="Accueil" onclick="menuItemClicked(this);"><i class="glyphicon glyphicon-home"></i> Accueil</button>
                </div>
                <div class="col-md-2">
                    <button style="color: #433F40;" class="menuBtn  btn-info btn-large col-md-12" value="Forum" onclick="menuItemClicked(this);"><i class="glyphicon glyphicon-align-justify"></i> Forum</button>
                </div>
                <div class="col-md-2">
                    <button class="menuBtn btn-info btn-large col-md-12" value="Blog" onclick="menuItemClicked(this);"><i class="glyphicon glyphicon-globe"></i> Blog</button>
                </div>
                <div class="col-md-2">
                    <button class="menuBtn btn-info btn-large col-md-12" value="Profil" onclick="menuItemClicked(this);"><i class="glyphicon glyphicon-user"></i> Se connecter</button>
                </div>
                <div class="col-md-4 custoSearch">
                    <input type="text" placeholder="recherche..." class="col-md-12" />
                </div>
            </div>
            <div class="row fluid">
                <div class="col-md-2 col-md-offset-5">
                    <h1 id="partTitle">Forum</h1>
                </div>
            </div>
        </header>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.5/TweenMax.min.js"></script>
    <script type="text/JavaScript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
        function menuItemClicked(element) {
            $(".menuBtn").css("color", "white");
            $(element).css("color", "#433F40");
            $("#partTitle").html(element.value);
            // ICI, mettre un lien qui redirige vers le projet de la solution adapté
            // à faire au moment du merge
        }

        (function ($) {
            $('.nav-subforum').hide();
            $(document).ready(function () {
                $("#nav-forum a").click(function (e) {
                    e.preventDefault();
                    var id = $(this).data("id");
                    var subForum = $(".nav-subforum[data-id=" + id + "]");
                    $('.nav-subforum').hide();
                    subForum.show();
                })
            });
        })(jQuery);

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
